.board {
  width: fit-content;
  height: fit-content;
}

.board-row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.cells {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark);
}

.done {
  background-color: var(--accent-success--subtle);
}

.cells-row {
  display: flex;
  flex-direction: row;
}