.game {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  display: flex;
  gap: 32px;
}

.game-controls {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 4px;
}